.ke-setup-container {
    padding-bottom: 4rem;
}

.ke-button {
    background-color: rgba(0, 0, 0, 0.1);
}

#ke-blasts-config {
}

.ke-attack-buttons {
    width: 100%;
    height: 140px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .ke-attack-button-wrapper {
        width: 100%;
        text-align: center;
        button {
            padding: 1rem 0;
            width: 60%;
        }
    }
    .ke-attack-info {
        display: flex;
        gap: 2rem;
        span:first-child {
            font-weight: bold;
        }
    }
    .ke-attack-mods {
        display: flex;
        gap: 1rem;
    }
    .ke-checkbox {
        display: flex;
        align-items: center;
    }
}

.ke-gather-section {
    display: flex;
    &:after {
        content: '';
        width: 1px;
        height: 100%;
        margin-left: calc(1rem + 1px);
        background: linear-gradient(
            180deg,
            rgba(120, 46, 34, 0) 0%,
            rgba(120, 46, 34, 0) 1%,
            rgba(120, 46, 34, 1) 5%,
            rgba(120, 46, 34, 1) 50%,
            rgba(120, 46, 34, 0) 97%,
            rgba(120, 46, 34, 0) 100%
        );
    }
}

.ke-blast-attack-section {
    margin: 0 7px;

    .ke-attack-table {
        border-bottom-width: 0;
        td + td {
            padding-right: 0.25rem;
        }
    }

    .ke-remember {
        display: flex;
        align-items: center;
        justify-content: stretch;
        label {
            flex-grow: 1;
        }
    }

    .ke-burn-table {
        thead > tr > th + th {
            text-align: left;
            padding-right: 1rem;
        }
        thead > tr > th + th + th {
            text-align: right;
            padding-right: 0.25rem;
        }
        tbody > tr > td:first-child {
            width: 30px;
        }
        tbody > tr > td + td {
            padding-right: 0.5rem;
            & > * {
                display: block;
            }
        }
        tbody > tr > td + td + td {
            width: 40px;
            text-align: right;
            padding-right: 0.4rem;
            & > * {
                display: block;
            }
        }
        input[type='radio'] {
            top: 0;
        }
    }
}

.ke-blast-attack-h2 {
    padding: 0 0 0 5px;
}

#pf1-kineticist-enhancements_setup {
    h1,
    h3 {
    }
}

#ke-actor-select {
    .ke-actor {
        cursor: pointer;
    }

    .ke-avatar {
        width: 75px;
        height: auto;
    }
}

#ke-hud-attack {
    background: black;
}

#ke-token-hud {
    //display: inline-block;
    //position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 130px;
    left: 150px;
    position: fixed;
    height: auto;
    width: auto;
    margin: 5px;
    background: none;
    font-size: small;
    //visibility: hidden;
}

.ke-hud-button {
    width: auto;
    height: auto;
    color: #ddd;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 3px;
    margin: 3px;
    border: 1px solid #000;
}

.ke-hud-button:hover {
    color: #fff;
    font-weight: normal;
    color: #fff;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
    cursor: pointer;
}

#ke-add-custom-form-infusion {
    table {
        tr {
            th {
                vertical-align: top;
                padding-top: 0.75rem;
            }
            td {
                padding: 0.5rem 0.25rem;
                span {
                    font-size: 9pt;
                }
            }
        }
    }
}

.table-add-button {
    user-select: none;
    text-align: center;
    //padding: 0.5rem 0;
    background: transparent;
    span {
        color: #333;
        transition: all 0.3s ease-out;
        padding: 0.5rem 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        //margin: 0.5rem 0;
        cursor: pointer;
        text-align: center;
        &:hover {
            color: #111;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.ke-table {
    border-top-width: 0;
    border-bottom-width: 0;
}

.actor-setting-table {
    tr {
        td:first-child {
            width: 40px;
            text-align: center;
        }
        td:last-child {
            text-align: left;
        }
    }
}
.transform-function {
    position: relative;
    pre {
        font-size: 8pt;
        margin: 0;
    }
    textarea {
        border-width: 0;
        margin-left: 1.5rem;
        font-family: monospace;
        width: calc(100% - 1.5rem);
        resize: vertical;
    }
    i {
        position: absolute;
        left: 0.25rem;
        top: 1rem;
        cursor: pointer;
        color: black;
        font-size: 12pt;
        opacity: 0.5;
        transition: opacity 0.35s ease;
        &:hover {
            opacity: 1;
        }
    }
}

#custom-transform-help {
    pre {
        font-size: 8pt;
        width: 800px;
        user-select: text;
    }
}

.settings-custom-row {
    &.editable {
        td:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                height: 100%;
                label {
                    display: inline-block;
                }
                button {
                    width: 30px;
                    display: inline-block;
                }
            }
        }
    }
}

.actor-config-row {
    td:nth-child(2) {
        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 100%;
            label {
                display: inline-block;
            }
            button {
                width: 30px;
                display: inline-block;
            }
        }
    }
}

.checkbox-row {
    td:first-child {
        width: 40px;
    }
}

.columns {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    .column {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#settings-custom-infusions {
    min-height: 200px;
    .save-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        button {
            width: 400px;
        }
    }

    div:last-child {
        display: flex;
        gap: 0.5rem;
    }
}
